:root{
    --black: #000;
    --grey: #121212;
    --light-grey: #232323;
    --white: #fff;
}
html, body{
    height: 100%;
    /* margin: 0rem; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    background-color: var(--black);
    color: var(--white);
}
a{
    text-decoration: none;
    color: var(--white);
}
.container{
    display: flex;
    flex: 1;
    /* overflow: hidden; */
    background-color: var(--black);
    /* padding: 0.5rem; */
}
.side-bar{
    flex: 0.25;
    background-color: var(--black);
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    
}
.main-content{
    flex: 0.8;
    overflow-y: auto;
    height: 80vh;
    background-color: var(--grey);
    /* display: flex;
    flex-direction: column; */
    padding: 0rem 1rem;
    border-radius: 0.5rem;
    padding-bottom: 9rem;
}
.player{
    background-color: var(--black);
    bottom: 0;
    left: 0;
    position: fixed;
    height: 80px;
    width: 100%;
}
.top-icons{
    background-color: var(--grey);
    margin-bottom: 0.5rem !important;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}
.link-flex img{
    height: 1.2rem;
    width: 1.2rem;
}
.link-flex a,p{
    font-size: 0.9rem;
    font-weight: 600;
}
.link-flex{
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    cursor: pointer;
    gap: 1rem;
    opacity: 0.7;
    padding: 0.6rem;
}
.link-flex:hover{
    opacity: 1;
}

.library{
    background-color: var(--grey);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    overflow-y: auto;
    height: 80vh;
    
}
.flex-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chip{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.6rem;
}
.chips{
    margin-top: 0.3rem;
    margin-bottom: 0.6rem;
    padding: 0.5rem 0.75rem;
    background-color: var(--light-grey);
    border-radius: 5rem;
    /* width: fit-content; */
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--white);
}
.chips:hover{
    background-color: rgb(52, 51, 51);
}

.flex-top img{
    height: 1.2rem;
    width: 1.2rem;
    opacity: 0.7;  
}
.flex-top img:hover{
    opacity: 1;
}
.flex-top p{
    font-size: 0.9rem;
    font-weight: 600;
    opacity: 0.7;
}
.flex-top p:hover{
    opacity: 1;
}
.albums{
    margin-top: 0.2rem;
    overflow-y: auto;
    height: 90vh;
}
.albums img{
    height: 3rem;
    width: 3rem;
    border-radius: 0.3rem;
}
.album-name{
    
    /* margin-bottom: 0.1rem !important; */
    font-size: 1rem !important;
}
.col-flex p{
    font-size: 0.8rem;
    margin: 6px;
}
.album-flex:hover{
    background-color: rgb(24, 23, 23);
    border-radius: 1rem;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1rem;
    position: sticky;
    top: 0;
    background-color: var(--grey);
}
.card-container{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
   
    
}
.card{
    width: 150px;
    height: fit-content;
    background-color: var(--light-grey);
    margin: 0rem 0.8rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
    
}
.card img{
   width: 100%;
   border-radius: 0.5rem;
}
.card-name{
    margin: 0.25rem 0;
    font-size: 1rem;
    
}
.card-description{
    margin: 0.2rem 0;
    opacity: 0.6;
    font-size: 0.9rem;
}
.card:hover{
background-color: rgb(47, 46, 46);
}
.fresh p{
    opacity: 0.7;
}
.fresh p:hover{
    opacity: 1;
}
.fresh{
    display: flex;
    justify-content: space-between;
}
.player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 90px;
}
.volume-controls{
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.volume-controls p{
    color: gray;
}
.player-center{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.player-controls{
    display: flex;
    align-items: center;
  
}
.player-controls img{
    opacity: 0.7;
}

.player-controls img:hover{
    opacity: 1;
}
.volume-controls img{
    opacity: 0.7;
}
.volume-controls img:hover{
    opacity: 1;
}
.player-timeline{
    gap: 1rem;
}
.timeline-slider{
    margin: 9px;
    width: 40vw;
}
@media screen and (max-width:1200px){
    .nav-bar{
        flex-direction: column;
    }
    .timeline-slider{
        width: 26vw;
    }
    .player-controls{
        margin-right: 1rem;
    }
   
}











